<section class="workable_features full space wow fadeInUp animated" data-animate="fadeInUp" data-duration="1.2"
    data-delay="0.3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h2 class="titleb center h2_int"> Manage Business with Explicitly <span> Workable Features </span></h2>
                <p class="title_p center"> Stay on top of your finances, look professional and get paid faster with
                    invoicera — simple and secure invoicing trusted by <br>
                    3M+ subscribers from around the world. </p>
            </div>
        </div>
        <div class="tabsDemoBox">
            <div class="infoNav"> <span class="active aim" data-aim="tab_1">Invoicing</span> <span class="aim"
                    data-aim="tab_2">Custom Workflow</span>
                <span class="aim" data-aim="tab_3">Reporting</span>
                <span class="aim" data-aim="tab_4">Payments</span>
                <span class="aim" data-aim="tab_5">AR / AP</span>
                <span class=" aim" data-aim="tab_7">Staff</span>
                <span class="aim" data-aim="tab_8">Time Tracking</span>
            </div>
        </div>
        <span class="infoNavL"></span> <span class="infoNavR"></span>
        <div class="tabsBox" style="height: 1000px;">
            <ul class="detailTab active" data-target="tab_1">
                <div class="heading_sec_slider wow fadeInUp animated" data-animate="fadeInUp" data-duration="1.2"
                    data-delay="0.3">
                    <h3>Online Invoicing</h3>
                    <p> Send accurate online invoices in one go with the revolutionary invoice approval process built in
                        with Invoicera’s online invoicing software. <br>
                        It is simple and exactly what your business needs right now. </p>
                </div>
                <li>
                    <picture>
                        <source type="image/webp"
                            srcset="https://www.invoicera.com/common/new_images/online-invoice-software.webp">
                        <source type="image/png"
                            srcset="https://www.invoicera.com/common/new_images/online-invoice-software.png">
                        <img src="https://www.invoicera.com/common/new_images/online-invoice-software.png"
                            alt="Online Invoice Software" title="Online Invoice Software">
                    </picture>

                </li>
                <div class="btn_sec"><a href=" https://www.invoicera.com/online-invoicing.html">Know More </a></div>
            </ul>
            <!-- <ul class="detailTab" data-target="tab_2">
                <div class="heading_sec_slider">
                    <h3>Custom Workflow Management</h3>
                    <p> Configure invoice workflow for your business needs and make invoicing seamless <br>
                        with an invoice approval system. Seamless flow of accurate information. </p>
                </div>
                <li>
                    <picture>
                        <source type="image/webp" srcset="common/new_images/invoice-approval-workflow.webp">
                        <source type="image/png" srcset="common/new_images/invoice-approval-workflow.png">
                        <img src="common/new_images/invoice-approval-workflow.png" alt="Invoice Approval workflow"
                            title="Invoice Approval Workflow">
                    </picture>
                </li>
                <div class="btn_sec"><a href="https://www.invoicera.com/custom-workflow.html">Know More </a></div>
            </ul>
            <ul class="detailTab" data-target="tab_3">
                <div class="heading_sec_slider">
                    <h3> Financial Reporting and Analysis </h3>
                    <p> Accurately forecast finances with detailed reports created with Invoicera's invoice software.
                        Expense, staff productivity, project, and estimate, <br>
                        generate all the reports from the same dashboard of online billing software. </p>
                </div>
                <li>
                    <picture>
                        <source type="image/webp" srcset="common/new_images/financial-management-and-reporting.webp">
                        <source type="image/png" srcset="common/new_images/financial-management-and-reporting.png">
                        <img src="common/new_images/financial-management-and-reporting.png"
                            alt="financial management and reporting" title="Financial Management and Reporting">
                    </picture>
                </li>
                <div class="btn_sec"><a href="https://www.invoicera.com/financial-forecasting-analysis.html">Know More
                    </a></div>
            </ul>
            <ul class="detailTab" data-target="tab_4">
                <div class="heading_sec_slider">
                    <h3> Receive Payments Online </h3>
                    <p> 30+ online payment gateways integrated with Invoicera help you accept online payments <br>
                        worldwide through your free online billing software. </p>
                </div>
                <li>
                    <picture>
                        <source type="image/webp" srcset="common/new_images/accept-payments-online.webp">
                        <source type="image/png" srcset="common/new_images/accept-payments-online.png">
                        <img src="common/new_images/accept-payments-online.png" alt="accept payments online"
                            title="Accept Payments Online">
                    </picture>
                </li>
                <div class="btn_sec"><a href="https://www.invoicera.com/online-payments.html">Know More </a></div>
            </ul>
            <ul class="detailTab" data-target="tab_5">
                <div class="heading_sec_slider">
                    <h3> Accounts Receivable &amp; Payable Management </h3>
                    <p> Accounting was never so easy. Complete audit trail and full visibility. Keep a full control over
                        your accounting. Simple, isn’t it? </p>
                </div>
                <li>
                    <picture>
                        <source type="image/webp" srcset="common/new_images/ar-&amp;-ap-management.webp">
                        <source type="image/png" srcset="common/new_images/ar-&amp;-ap-management.png">
                        <img src="common/new_images/ar-&amp;-ap-management.png" alt="AR &amp; AP management"
                            title="AR &amp; AP Management">
                    </picture>

                </li>
                <div class="btn_sec"><a
                        href="https://www.invoicera.com/accounts-receivable-payable-management.html">Know More </a>
                </div>
            </ul>
            <ul class="detailTab" data-target="tab_7">
                <div class="heading_sec_slider">
                    <h3> Staff Permissions </h3>
                    <p> Manage a full staff schedule, communication, reporting and beyond with <br>
                        online staff management software integrated with Invoicera. </p>
                </div>
                <li>
                    <picture>
                        <source type="image/webp" srcset="common/new_images/staff-management.webp">
                        <source type="image/png" srcset="common/new_images/staff-management.png">
                        <img src="common/new_images/staff-management.png" alt="Staff Management"
                            title="Staff Management">
                    </picture>

                </li>
                <div class="btn_sec"><a href="https://www.invoicera.com/staff-management.html">Know More </a></div>
            </ul>
            <ul class="detailTab" data-target="tab_8">
                <div class="heading_sec_slider">
                    <h3>Time Tracking</h3>
                    <p> Record employee time logs automatically with Invoicera's invoice billing software. <br>
                        Easily validate work hours without skipping any minute. </p>
                </div>
                <li>
                    <picture>
                        <source type="image/webp" srcset="common/new_images/online-time-tracking.webp">
                        <source type="image/png" srcset="common/new_images/online-time-tracking.png">
                        <img src="common/new_images/online-time-tracking.png" alt="Online Time Tracking"
                            title="Online Time Tracking ">
                    </picture>
                </li>
                <div class="btn_sec"><a href="https://www.invoicera.com/time-tracking.html">Know More </a></div>
            </ul> -->
        </div>
    </div>
</section>