ul {
    list-style: none;
}

.titleb {
    font-size: 35px;
    /* position: relative; */
    margin-bottom: 45px;
    color: #39393f;
    font-weight: 400;
}

.titleb:before {
    background: #f60 none repeat scroll 0 0;
    bottom: -20px;
    content: "";
    height: 3px;
    left: 50%;
    margin-left: -13px;
    position: absolute;
    width: 25px;
}