<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-3">
                <a class="logo" href="#"><img width="220px" alt="logo" src="../../assets/logo.png"></a>
                <h3>CONNECT WITH US</h3>
                <ul class="social_list">
                    <li> <a href="#" target="_blank"> <i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                    <li> <a href="#" target="_blank"> <i class="fa fa-twitter" aria-hidden="true"></i> </a> </li>
                    <li> <a href="#" target="_blank"> <i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
                    <li> <a href="#" target="_blank"> <i class="fa fa-pinterest" aria-hidden="true"></i></a> </li>
                    <li> <a href="#" target="_blank"> <i class="fa fa-youtube" aria-hidden="true"></i></a> </li>
                </ul>
                <div class="timesec"> BD: +8801747 979703 <br>
                    BD: +880130 3187959 <br>
                    (10:00 am - 12:00 midnight BD)
                </div>
            </div>
            <div class="col-sm-12 col-md-4  col-lg-2">
                <h3>Product</h3>
                <ul>
                    <li> <a href="#" title="For Enterprises"> Enterprises</a>
                    </li>
                    <li> <a href="#" title="For Small Businesses"> Small
                            Businesses</a> </li>
                    <li> <a href="#" title="For Freelancers"> Freelancers</a>
                    </li>
                    <li> <a href="#" title="Add-Ons &amp; Integrations">Add-Ons</a>
                    </li>
                    <li> <a href="#" title="Pricing">Pricing</a> </li>
                    <li> <a href="#">Invoicera Updates</a> </li>
                    <li> <a href="#" title="android-invoice-app">Android Invoice App</a> </li>
                    <li> <a href="#" title="iOS-invoicing">iOS-Invoice-App</a> </li>
                    <li> <a href="#">Free-Invoice-Generator</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-4  col-lg-2 helpful">
                <h3>Helpful Links</h3>
                <ul>
                    <li> <a href="#">Login</a> </li>
                    <li> <a href="#" title="Support">Support</a> </li>
                    <li> <a href="#" title="Add-Ons &amp; Integrations">Add-Ons
                            &amp; Integrations</a> </li>
                    <li> <a href="#" title="Knowledge Base">Knowledge Base</a> </li>
                    <li> <a href="#" title="API">API Reference</a> </li>
                    <li> <a href="#" title="Blog" target="_blank">Blog</a> </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-4  col-lg-1 footer_about">
                <h3>About</h3>
                <ul>
                    <li> <a href="#" title="Press">Press</a> </li>
                    <li> <a href="#" title="Partners">Partners</a> </li>
                    <li> <a href="#" title="Contact">Contact</a> </li>
                    <li> <a href="#" title="Case Studies">Case Studies</a>
                    </li>
                    <li> <a href="#" title="Testimonials">Testimonials</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-8  col-lg-4 lastbox">
                <h3>Invoicera For</h3>
                <ul>
                    <li> <a href="#" title="Utility">Utility</a>
                    </li>
                    <li> <a href="#" title="Telecommunications">Telecommunications</a> </li>
                    <li> <a href="#" title="Transportation &amp; Logistics">Transportation &amp; Logistics</a> </li>

                    <li> <a href="#">Legal Firms</a> </li>
                    <li> <a href="#">Manufacturers</a>
                    </li>
                    <li> <a href="#" title="Real Estate">Real Estate</a> </li>
                    <li> <a href="#" title="Traders">Traders</a> </li>
                    <li> <a href="#" title="Photographers">Photographers</a> </li>
                    <li> <a href="#" title="Consultants &amp; IT Firms">Consultants &amp; IT Firms</a> </li>
                </ul>
                <ul>
                    <li> <a href="#" title="Contractors">Contractors</a> </li>
                    <li> <a href="#" title="Restaurants &amp; Hotels">Restaurants &amp; Hotels</a> </li>
                    <li> <a href="#" title="Insurance and Banking">Insurance and Banking</a> </li>
                    <li> <a href="#" title="Digital Agencies">Digital Agencies</a> </li>
                    <li> <a href="#" title="Travel Agencies">Tours &amp; Travels</a> </li>
                </ul>
            </div>
            <!-- <div class="col-sm-12 app">
                <h3>Download App</h3>
                <ul>
                    <li> <a alt="play-store" href="#" target="_blank" rel="nofollow">play store</a> </li>
                    <li> <a alt="app-store" href="#" target="_blank" rel="nofollow">app store</a> </li>
                </ul>
            </div> -->
            <div class="col-sm-12 text-right awards ">
                <ul>
                    <li> </li>
                    <li> </li>
                    <li> </li>
                    <li> </li>
                    <li> </li>


                </ul>
            </div>
        </div>
    </div>
    <div class="copyrights">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12"> <span>Copyright © 2004-2022 Hasibul Hasan. All rights reserved.</span>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <ul>
                        <li> <a href="#" title="Privacy Policy">Privacy
                                Policy </a> </li>
                        <li> <a href="#"> Terms Of
                                Service</a> </li>
                        <li> <a href="#" title="Data Backup"> Data Backup </a>
                        </li>
                        <li> <a href="#" title="Feedback">Feedback</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>