<section class="custom_invoice_sec wow fadeInUp animated mb-5" data-animate="fadeInUp" data-duration="1.2"
    data-delay="0.3">
    <div class="container">
        <div class="inner_main">
            <h2 class="titleb center"> An Online Invoicing Software <span> That Automates! </span></h2>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12-4">
                    <ul class="service_box">
                        <li> <small class="icon1"></small>
                            <h3> Customize as per your <br>
                                business </h3>
                        </li>
                        <li> <small class="icon2"></small>
                            <h3> Integrate with existing <br>
                                legacy setup </h3>
                        </li>
                        <li> <small class="icon3"></small>
                            <h3> Host in your own <br>
                                environment </h3>
                        </li>
                    </ul>
                    <div class="btn_sec"><a href="https://www.invoicera.com/contact.html">Contact Us Now</a></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm1-2">
                    <div class="heading_sec">
                        <h2> Why <span>Invoicera</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="Service_box_new">
                        <li> <small class="icon1"></small>
                            <h3>Effortless Invoicing</h3>
                            <p> The uncomplicated invoice generator to let you create your first invoice so
                                professionally that your clients will get amazed.</p>
                        </li>
                        <li> <small class="icon2"></small>
                            <h3>Automation At Its Best</h3>
                            <p> Automate invoicing, subscriptions, payments and more. Track time and manage reports.
                            </p>
                        </li>
                        <li class="border_right"> <small class="icon3"></small>
                            <h3>Save With Cloud</h3>
                            <p>We live with cloud, so you can easily access us with the best invoice software from
                                wherever you like. </p>
                        </li>
                        <li> <small class="icon4"></small>
                            <h3>3M+ Subscribers</h3>
                            <p> One big family of 3 million users from 40+ countries. </p>
                        </li>
                        <li> <small class="icon5"></small>
                            <h3>60+ Enterprise Integrations</h3>
                            <p> Complete customization of online invoicing software for more than 60 big enterprises in
                                the business world. </p>
                        </li>
                        <li class="border_right"> <small class="icon6"></small>
                            <h3>14+ Years Experience</h3>
                            <p> 14 successful years of simplifying invoicing for businesses. </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>