<section class="content content_home full wow fadeInUp animated mt-5 business-container" data-animate="fadeInUp" data-duration="1.2 "
    data-delay="0.3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h2 class="titleb center h2_int"> Fit For All <span> Businesses </span></h2>
                <p class="title_p center"> Join over 3 million businesses to experience the best of Invoicing <br>
                    with Invoicera. </p>
            </div>
        </div>
        <div class="content_box">

            <!-- row start  -->
            <div class="row">
                <div class="col-lg-5 col-sm-12 contentImage">
                    <picture>
                        <source type="image/webp"
                            srcset="https://www.invoicera.com/common/new_images/Online-invoicing-system.webp">
                        <source type="image/png"
                            srcset="https://www.invoicera.com/common/new_images/Online-invoicing-system.png">
                        <img class="img-fluid"
                            src="https://www.invoicera.com/common/new_images/Online-invoicing-system.png"
                            alt="Online invoicing system" title="Online Invoicing System">
                    </picture>

                </div>
                <div class="col-lg-7 col-sm-12">
                    <div class="contentText"> <small class="icon2"></small>
                        <h2> Custom Workflow Management <br>
                            For
                            Large Enterprises </h2>
                        <p> A complete enterprise specific customised solution that helps in integrating with existing
                            ERP/CRM solutions. </p>
                        <ul>
                            <li> Custom Workflow Management </li>
                            <li> Complete Data Security </li>
                            <li> Management of Account Receivables </li>
                        </ul>
                        <div class="btn_sec"><a href="#">Know More </a></div>
                    </div>
                </div>
            </div>
            <!-- row ends  -->

            <!-- row start  -->
            <div class="row">
                <div class="col-lg-5 col-sm-12 contentImage">
                    <picture>
                        <source type="image/webp"
                            srcset="https://www.invoicera.com/common/new_images/online-invoicing-solution.webp">
                        <source type="image/png"
                            srcset="https://www.invoicera.com/common/new_images/online-invoicing-solution.png">
                        <img class="img-fluid"
                            src="https://www.invoicera.com/common/new_images/online-invoicing-solution.png"
                            alt="online invoicing solution" title="Online Invoicing Solution">
                    </picture>

                </div>
                <div class="col-lg-7 col-sm-12">
                    <div class="contentText"> <small class="icon1"></small>
                        <h2> One Small Business. Many Clients. <br>
                            One Invoicing Solution </h2>
                        <p> All-in-one invoicing software for your business to manage &amp; track payments, expenses,
                            bills &amp; more. </p>
                        <ul>
                            <li>Invoice Process Automation</li>
                            <li>Invoice Template Customization</li>
                            <li>3-Layered Security</li>
                            <li>Save Costs with the Invoice software</li>
                        </ul>
                        <div class="btn_sec"><a href="#">Know More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- row ends  -->

            <!-- row start  -->
            <div class="row">
                <div class="col-lg-5 col-sm-12 contentImage">
                    <picture>
                        <source type="image/webp"
                            srcset="https://www.invoicera.com/common/new_images/freelancer-invoicing.webp">
                        <source type="image/png"
                            srcset="https://www.invoicera.com/common/new_images/freelancer-invoicing.png">
                        <img class="img-fluid"
                            src="https://www.invoicera.com/common/new_images/freelancer-invoicing.png"
                            alt="Online invoicing software" title="Online invoicing software">
                    </picture>

                </div>
                <div class="col-lg-7 col-sm-12 ">
                    <div class="contentText"> <small class="icon3"></small>
                        <h2> Refreshingly Simple <br>
                            Invoicing for
                            Freelancers </h2>
                        <p> Dedicate more time on your projects and leave the understanding of difficult digits with us.
                            Now invoice easily! </p>
                        <ul>
                            <li class="list"> Simplified Invoicing </li>
                            <li class="list"> Time Tracking </li>
                            <li class="list"> Expense Management </li>
                            <li class="list"> Get Paid Quicker </li>
                            <li class="list"> Reporting and Client Portal </li>
                        </ul>
                        <div class="btn_sec"><a routerLink="contact-us">Know More </a></div>
                    </div>
                </div>
            </div>
            <!-- row ends  -->
        </div>
    </div>
</section>