ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.center {
    text-align: center;
}

.content_home {
    padding-bottom: 0;
    padding-top: 60px;
}

.full {
    width: 100%;
    float: left;
}

.titleb.h2_int {
    font-size: 42px;
    text-transform: capitalize;
    color: #39393f;
}

.titleb {
    font-size: 45px;
    position: relative;
    margin-bottom: 45px;
    color: #39393f;
    font-weight: 400;
}

.titleb:before {
    background: #f60 none repeat scroll 0 0;
    bottom: -20px;
    content: "";
    height: 3px;
    left: 50%;
    margin-left: -13px;
    position: absolute;
    width: 25px
}

.titleb span {
    color: #39393f;
}

.title_p {
    font-size: 19px;
    position: relative;
    margin-bottom: 20px;
    color: #757575;
    font-weight: 400;
    text-transform: capitalize;
}

.content .content_box {
    float: left;
    width: 100%;
}

.content .content_box .row .contentText {
    padding: 10px 30px 30px 30px;
    display: inline-block;
    color: #5f6368;
}

.content_home .content_box .row .contentText small.icon2 {
    background-position: -5px -171px;
}

.content_home .content_box .row .contentText small {
    background: url(https://www.invoicera.com/common/new_images/home_sprite4.png) no-repeat;
    width: 100px;
    text-align: center;
    height: 100px;
    display: inline-block;
}

.content .content_box .row .contentText h2 {
    color: #404040;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 20px;
}

.content .content_box .row .contentText p {
    font-size: 18px;
    color: #5f6368;
    line-height: 30px;
    padding-bottom: 10px;
}

.content .content_box .row .contentText ul {
    margin: 0;
    padding: 0;
}

.content .content_box .row .contentText li {
    list-style: none;
    background: url(https://www.invoicera.com/common/new_images/common-sprite.png) no-repeat;
    padding: 8px 25px;
    font-size: 16px;
    text-align: left;
    color: #525151;
    background-position: -49px -305px;
    display: inline-block;
    line-height: 28px;
    width: 100%;
}

.content .content_box .row .contentText li {
    margin: 0;
    position: relative;
}

.content_home .btn_sec {
    margin: 25px 0;
}

.content_home .btn_sec a {
    display: inline-block;
    width: 180px;
    background: #f0711d;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 2px;
    padding: 16px 0;
    text-transform: uppercase;
    text-align: center;
}

.content_home .btn_sec a:hover {
    background: #000;
    text-decoration: none;
}

.content .content_box .row {
    margin: 40px 0 40px 0;
}

.content_box .row:nth-child(2n) .contentImage {
    order: 2;
}

.content_home .content_box .row .contentText small.icon3 {
    background-position: -20px -358px;
}
/* 
======================================
mobile
======================================
 */
 
 @media screen and (max-width:600px){
    .titleb.h2_int{
        font-size: 38px;
        margin-top: -250px;
    }
 }