<section class="choose_the_best full space wow fadeInUp animated" data-animate="fadeInUp" data-duration="1.2"
    data-delay="0.3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm1-2">
                <div class="heading_sec_home">
                    <h2> Choose the <span>Best Online Invoicing Plan for Your Business </span></h2>
                    <p> We're offering a generous Free Plan and affordable premium pricing plans that grow <br>
                        with your business </p>
                </div>
            </div>
        </div>
        <div class="plan_inner">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="plan_box">
                        <h4>Infinite</h4>
                        <div class="box_border">
                            <div class="plan_scricle">
                                <h5 style="font-size:43px;">$149</h5>
                                <p>Per Month</p>
                            </div>
                            <div class="gray_bg">
                                <p>Active Clients <span>UNLIMITED</span></p>
                                <p> Staff <span>UNLIMITED</span></p>
                                <p> API Acess <span>Yes</span></p>
                                <p> Invoice Approval Process <span>Yes</span></p>
                                <p> PDF Protection <span>Yes</span></p>
                                <p> Batch PDF <span>Yes</span></p>
                            </div>
                        </div>
                        <div class="buy_new"><a
                                href="#">Buy
                                Now</a></div>
                        <div class="try_free"><a href="#">Try
                                For Free</a></div>
                        .
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="plan_box">
                        <h4>Business</h4>
                        <div class="box_border active">
                            <div class="plan_scricle">
                                <h5 style="font-size:43px;">$29</h5>
                                <p>Per Month</p>
                            </div>
                            <div class="gray_bg">
                                <div class="most_papular">
                                    <picture>
                                        <source type="image/webp"
                                            srcset="https://www.invoicera.com/common/new_images/most_papular_home.webp">
                                        <source type="image/png"
                                            srcset="https://www.invoicera.com/common/new_images/most_papular_home.png">
                                        <img src="https://www.invoicera.com/common/new_images/most_papular_home.png"
                                            alt="mobile invoice" title="mobile invoice">
                                    </picture>
                                </div>
                                <p> Active Clients <span>1000</span></p>
                                <p> Staff <span>10</span></p>
                                <p> API Acess <span>Yes</span></p>
                                <p> Invoice Approval Process <span>Yes</span></p>
                                <p> PDF Protection <span>Yes</span></p>
                                <p> Batch PDF <span>No</span></p>
                            </div>
                        </div>
                        <!-- <div class="buy_new"><a
                                href="#">Buy
                                Now</a></div>
                        <div class="try_free"><a
                                href="#">Try For Free</a>
                        </div> -->
                        .
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="plan_box">
                        <h4>PRO</h4>
                        <div class="box_border">
                            <div class="plan_scricle">
                                <h5 style="font-size:43px;">$15</h5>
                                <p>Per Month</p>
                            </div>
                            <div class="gray_bg">
                                <p>Active Clients <span>100</span></p>
                                <p> Staff <span> 1 </span></p>
                                <p> API Acess <span>Yes</span></p>
                                <p> Invoice Approval Process <span>Yes</span></p>
                                <p> PDF Protection <span>Yes</span></p>
                                <p> Batch PDF <span>No</span></p>
                            </div>
                        </div>
                        <!-- <div class="buy_new"><a
                                href="#">Buy
                                Now</a></div>
                        <div class="try_free"><a
                                href="#">Try For Free</a>
                        </div> -->
                        .
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="plan_box">
                        <h4>Starter</h4>
                        <div class="box_border">
                            <div class="plan_scricle">
                                <h5 style="font-size:43px;">Free</h5>
                                <p>Forever</p>
                            </div>
                            <div class="gray_bg">
                                <p>Active Clients <span>3</span></p>
                                <p> Staff <span>0</span></p>
                                <p> API Acess <span>No</span></p>
                                <p> Invoice Approval Process <span>No</span></p>
                                <p> PDF Protection <span>No</span></p>
                                <p> Batch PDF <span>No</span></p>
                            </div>
                        </div>
                        <div class="buy_new"><a href="#">Sign
                                up</a></div>
                        .
                    </div>
                </div>
            </div>
        </div>
        <div class="yellow_box">
            <div class="container">
                <div class="or">or</div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm1-2">
                        <div class="heading_sec_home">
                            <h2> Do You Need Custom Workflow or Bespoke Online Invoicing Solutions <br>
                                As Per Your Business Needs? </h2>
                        </div>
                    </div>
                    <div class="contect_btn"><a routerLink="contact-us">Contact Us Now</a></div>
                </div>
            </div>
        </div>
    </div>
</section>