<section class=" invoicing_solution_sec full space wow fadeInUp animated" data-animate="fadeInUp" data-duration="1.2"
    data-delay="0.3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm1-2">
                <div class="heading_sec_home">
                    <h2> Invoicing Solution For All <span>Enterprise Verticals</span></h2>
                    <p>The online invoicing system caters to a complete range of enterprise <br>
                        business verticals. </p>
                </div>
            </div>
        </div>
        <div class="inner_sec">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12"> <a
                        href="#">
                        <div class="development_box"> <small class="icon8"></small>
                            <div class="text_content">
                                <h3> Digital Agencies</h3>
                                <p> Maintain a healthy workflow and cash-flow with the best invoicing software. Create
                                    recurring bills and branded templates for higher client retention.</p>
                            </div>
                        </div>
                    </a> </div>

                <div class="col-lg-4 col-md-4 col-sm-12"> <a
                        href="#">
                        <div class="development_box"> <small class="icon6"></small>
                            <div class="text_content">
                                <h3>Restaurants &amp; Hotels</h3>
                                <p> Restaurant billing and expense management. Manage staff and vendors with ease.
                                    Manage inventory and expenses accurately.</p>
                            </div>
                        </div>
                    </a> </div>
                <div class="col-lg-4 col-md-4 col-sm-12"> <a
                        href="#">
                        <div class="development_box"> <small class="icon3"></small>
                            <div class="text_content">
                                <h3>Transportation &amp; Logistics</h3>
                                <p> Simplified &amp; customized solutions for airlines - airport operation, cargo,
                                    concessions as well as all kinds of logistics &amp; transportation businesses.</p>
                            </div>
                        </div>
                    </a> </div>

                <div class="col-lg-4 col-md-4 col-sm-12"> <a
                        href="#">
                        <div class="development_box"> <small class="icon7"></small>
                            <div class="text_content">
                                <h3>Tour &amp; Travels</h3>
                                <p> Customized billing solutions for tour operators and travel companies. Integrate
                                    Invoicera with your CRM system and improve business revenue.</p>
                            </div>
                        </div>
                    </a> </div>

                <div class="col-lg-4 col-md-4 col-sm-12"> <a
                        href="#">
                        <div class="development_box"> <small class="icon2"></small>
                            <div class="text_content">
                                <h3>Telecommunication</h3>
                                <p> The telecom business works in a dynamic and a fast paced business environment.
                                    Flexible invoice software solutions to cater to a variety of customer requirements.
                                </p>
                            </div>
                        </div>
                    </a> </div>

                <div class="col-lg-4 col-md-4 col-sm-12"> <a
                        href="#">
                        <div class="development_box"> <small class="icon4"></small>
                            <div class="text_content">
                                <h3>Legal Firm </h3>
                                <p>Track the billing time and bill accurately to clients. Multiple line description for
                                    detailed and precise task description.</p>
                            </div>
                        </div>
                    </a> </div>
                <div class="col-lg-4 col-md-4 col-sm-12"> <a
                        href="#">
                        <div class="development_box"> <small class="icon5"></small>
                            <div class="text_content">
                                <h3> Insurance &amp; Banking</h3>
                                <p> Setup auto-bills &amp; receive premiums online. Get customized billing software
                                    solutions for Insurance and banking business requirements.</p>
                            </div>
                        </div>
                    </a> </div>
                <div class="col-lg-4 col-md-4 col-sm-12"> <a
                        href="#">
                        <div class="development_box"> <small class="icon9"></small>
                            <div class="text_content">
                                <h3>Manufacturers</h3>
                                <p>Simplified bulk invoicing for manufacturing business. Automated invoicing for quicker
                                    quote-to-cash cycle. </p>
                            </div>
                        </div>
                    </a> </div>
                <div class="col-lg-4 col-md-4 col-sm-12"> <a
                        href="#">
                        <div class="development_box"> <small class="icon1"></small>
                            <div class="text_content">
                                <h3>Utility</h3>
                                <p>The invoicing online provides cost-effective utility billing 3 party integrations.
                                    The solutions cover all kinds of utilities like water and electricity.</p>
                            </div>
                        </div>
                    </a> </div>
            </div>
        </div>
    </div>
</section>