.bgblack {
    background: #2f2f3f;
}

a {
    text-decoration: none;
}

.titleb.white {
    color: #fff;
}

.titleb {
    font-size: 35px;
    position: relative;
    margin-bottom: 45px;
    color: #39393f;
    font-weight: 400;
}

.joinsec h2 {
    color: #c5c5cf;
    margin-bottom: 15px;
}

.joinsec span {
    font-size: 24px;
    color: #fff;
}

.full {
    width: 100%;
    float: left;
}

.joinsec .white_btn {
    margin-top: 90px;
}

.btnspace {
    margin-left: 20px;
    margin-right: 20px;
}

.white_btn {
    background: #fff;
    border: #fff solid 2px;
    color: #000;
    width: 300px;
    height: 64px;
    line-height: 64px;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 2px;
    margin-top: 40px;
}

.bold {
    font-weight: 700;
}

.white_btn:hover {
    background: #fb8638;
    border-color: #fb8638;
    color: #fff;
}

.remove_bg {
    border: #fff solid 2px;
    background: 0 0;
    color: #fff;
    width: 300px;
    height: 64px;
    line-height: 64px;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 2px;
    margin-top: 40px;
}