<!-- <section class="Payment_Gateways full space gray_bg my-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h2 class="titleb center h2_int"> We Integrate with 30+ <span> Payment Gateways </span></h2>
      </div>
    </div>
    <div class="inner_sec">
      <div class="row">
        <div>

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <ul class="logos">
            <a href="#">
             
              <li> <small class="icon1"></small> </li>
            </a>
            <a href="#">
              <li> <small class="icon2"></small> </li>
            </a>
            <a href="#">
              <li> <small class="icon3"></small> </li>
            </a>
            <a href="#">
              <li> <small class="icon4"></small> </li>
            </a>
            <a href="#">
              <li> <small class="icon5"></small> </li>
            </a>
            <a href="#">
              <li> <small class="icon6"></small> </li>
            </a>
            <a href="#">
              <li> <small class="icon7"></small> </li>
            </a> <a href="#">
              <li> <small class="icon8"></small> </li>
            </a>
          </ul>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="view_btn"> <a href="#">View More</a> </div>
        </div>
      </div>
    </div>
  </div>
</section> -->


<div class="container ">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h2 class="titleb center h2_int mt-5 mb-3"> We Integrate with 30+ <span> Payment Gateways </span></h2>
    </div>
  </div>
  <div class="new-payment">

    <div class="card custom-card" style="width: 18rem; ">
      <div class="card-body">
        <p class="card-text" style="font-size:70px ; color: #359AD5; font-weight:bolder !important; text-align: center; "><i class="fab fa-stripe"></i></p>
      </div>
    </div>
    <div class="card" style="width: 18rem; ">
      <div class="card-body">
        <p class="card-text" style="font-size:70px ; color: #359AD5; font-weight:bolder !important; text-align: center; "><i class="fab fa-cc-paypal"></i></p>
      </div>
    </div>
    <div class="card" style="width: 18rem; ">
      <div class="card-body">
        <p class="card-text" style="font-size:70px ; color: #359AD5; font-weight:bolder !important; text-align: center; "><i class="fab fa-stripe"></i></p>
      </div>
    </div>
    <div class="card" style="width: 18rem; ">
      <div class="card-body">
        <p class="card-text" style="font-size:70px ; color: #359AD5; font-weight:bolder !important; text-align: center; "><i class="fab fa-stripe"></i></p>
      </div>
    </div>
    <div class="card" style="width: 18rem; ">
      <div class="card-body">
        <p class="card-text" style="font-size:70px ; color: #359AD5; font-weight:bolder !important; text-align: center; "><i class="fab fa-stripe"></i></p>
      </div>
    </div>
    <div class="card" style="width: 18rem; ">
      <div class="card-body">
        <p class="card-text" style="font-size:70px ; color: #359AD5; font-weight:bolder !important; text-align: center; "><i class="fab fa-stripe"></i></p>
      </div>
    </div>
    <div class="card" style="width: 18rem; ">
      <div class="card-body">
        <p class="card-text" style="font-size:70px ; color: #359AD5; font-weight:bolder !important; text-align: center; "><i class="fab fa-stripe"></i></p>
      </div>
    </div>
    <div class="card" style="width: 18rem; ">
      <div class="card-body">
        <p class="card-text" style="font-size:70px ; color: #359AD5; font-weight:bolder !important; text-align: center; "><i class="fab fa-stripe"></i></p>
      </div>
    </div>  

  </div>
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="view_btn"> <a href="#">View More</a> </div>
  </div>
</div>

