<section class="testimonials_bg testimonials_bg_home ">
    <div class="container">
        <div class="testimonials_mian_home">
            <h2 class="titleb center"> We Love To Hear From <span> Our Users </span> </h2>
            <div class="row">
                <ul class="testimonials_list slick-initialized slick-slider slick-dotted"><button
                        class="slick-prev slick-arrow" aria-label="Previous" type="button" style="">Previous</button>
                    <div class="slick-list draggable">
                        <div class="slick-track"
                            style="opacity: 1; width: 12000px; transform: translate3d(-1000px, 0px, 0px);">
                            <li class="slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true"
                                style="width: 500px;" tabindex="-1">
                                <div class="contentbox ">
                                    <p> In my contractor business, now I can easily focus on my business proceedings
                                        keeping control on staff activity and managing team's time better. You can
                                        easily streamline invoices while staying focused on your core business tasks.
                                    </p>
                                    <h5>"Emily Lewis"</h5>
                                </div>
                            </li>
                            <li class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true"
                                style="width: 500px;" tabindex="-1">
                                <div class="contentbox ">
                                    <p> BrainWave is quite easy to use. Also with this invoicing solution, I can easily
                                        upload the business image to invoicing and statements at no cost. The mobile app
                                        is great for small businesses, can't beat the price for the excellent service it
                                        provides me. Great software, great program. </p>
                                    <h5>"Mia Parker"</h5>
                                </div>
                            </li>
                            <li class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false"
                                style="width: 500px;" tabindex="0" role="tabpanel" id="slick-slide00"
                                aria-describedby="slick-slide-control00">

                                <div class="vpop" data-type="youtube" data-id="M6HwqTcvEN8" data-autoplay="true">
                                    <picture>
                                        <source type="image/webp"
                                            srcset="https://www.invoicera.com/common/new_images/testimonial_thumbnail1.webp">
                                        <source type="image/png"
                                            srcset="https://www.invoicera.com/common/new_images/testimonial_thumbnail1.png">
                                        <img src="https://www.invoicera.com/common/new_images/testimonial_thumbnail1.png"
                                            alt="client_feedback_thumb" width="100%" height="auto">
                                    </picture>
                                    <div class="youtube_play_icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24">
                                            <path
                                                d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z">
                                            </path>
                                        </svg>
                                    </div>
                                </div>
                            </li>
                            <li class="slick-slide slick-active" data-slick-index="1" aria-hidden="false"
                                style="width: 500px;" tabindex="0" role="tabpanel" id="slick-slide01">
                                <div class="vpop" data-type="youtube" data-id="QSGFiUEwvWE" data-autoplay="true">
                                    <picture>
                                        <source type="image/webp"
                                            srcset="https://www.invoicera.com/common/new_images/testimonial_thumbnail1.webp">
                                        <source type="image/png"
                                            srcset="https://www.invoicera.com/common/new_images/testimonial_thumbnail1.png">
                                        <img src="https://www.invoicera.com/common/new_images/testimonial_thumbnail1.png"
                                            alt="client_feedback_thumb" width="100%" height="auto">
                                    </picture>
                                    <div class="youtube_play_icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24">
                                            <path
                                                d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z">
                                            </path>
                                        </svg>
                                    </div>
                                </div>
                            </li>
                            <li class="slick-slide" data-slick-index="2" aria-hidden="true" style="width: 500px;"
                                tabindex="-1" role="tabpanel" id="slick-slide02"
                                aria-describedby="slick-slide-control01">
                                <div class="contentbox ">
                                    <p> BrainWave helps our tours and travel company in a great way. This web-based
                                        billing software helped me in tracking billable hours effectively. I would
                                        highly recommend BrainWave to grow business with valuable features like
                                        multilingual- multicurrency support. I also appreciate the response of the
                                        BrainWave support team- well impressed. </p>
                                    <h5>"Colton Marak"</h5>
                                </div>
                            </li>
                            <li class="slick-slide" data-slick-index="3" aria-hidden="true" style="width: 500px;"
                                tabindex="-1" role="tabpanel" id="slick-slide03">
                                <div class="contentbox ">
                                    <p> Finding BrainWave as an invoicing software was a great breakthrough for us, a
                                        must have software for SME's. The web billing software
                                        helps controls staff activity in simplified form, a useful for many travel
                                        agents. Also no need to worry about the currency and language suitable for the
                                        client. It supports the variety of global payment from clients across the globe.
                                    </p>
                                    <h5>"Jaxson White"</h5>
                                </div>
                            </li>
                            <li class="slick-slide" data-slick-index="4" aria-hidden="true" style="width: 500px;"
                                tabindex="-1" role="tabpanel" id="slick-slide04"
                                aria-describedby="slick-slide-control02">
                                <div class="contentbox ">
                                    <p> No language barrier, definite response time, access anytime anywhere. Choosing
                                        BrainWave has many benefits that match all my invoicing and billing needs.
                                        BrainWave helped me to fill the wide gap with highly simplified approach to
                                        customization as per the business requirements. Hence reducing the complexity
                                        for clients. </p>
                                    <h5>"Aayden Brooks"</h5>
                                </div>
                            </li>
                            <li class="slick-slide" data-slick-index="5" aria-hidden="true" style="width: 500px;"
                                tabindex="-1" role="tabpanel" id="slick-slide05">
                                <div class="contentbox ">
                                    <p> For my contractor business, I needed a solution that replaces an outdated manual
                                        invoicing system. BrainWave made it simpler and easier to invoice. Now, I spend
                                        less time manually and more time to help clients with their queries. Incredibly
                                        intuitive invoicing software. </p>
                                    <h5>"Jacob Davis"</h5>
                                </div>
                            </li>
                            <li class="slick-slide" data-slick-index="6" aria-hidden="true" style="width: 500px;"
                                tabindex="-1" role="tabpanel" id="slick-slide06"
                                aria-describedby="slick-slide-control03">
                                <div class="contentbox ">
                                    <p> With easy to use invoicing solution, BrainWave helps me to track billable hours
                                        and generate detailed invoices for clients. I can easily create customized clean
                                        invoices which are a top priority for my business. </p>
                                    <h5>"Mason Brown"</h5>
                                </div>
                            </li>
                            <li class="slick-slide" data-slick-index="7" aria-hidden="true" style="width: 500px;"
                                tabindex="-1" role="tabpanel" id="slick-slide07">
                                <div class="contentbox ">
                                    <p> As a small business owner, I wanted to bill clients, get paid quickly and check
                                        finances when I'm on the road. With BrainWave, everything is possible on the go.
                                        I would highly recommend BrainWave. The daunting billing process now becomes
                                        painless and lets you focus on doing great work. </p>
                                    <h5>" Daniel Jones "</h5>
                                </div>
                            </li>
                            <li class="slick-slide" data-slick-index="8" aria-hidden="true" style="width: 500px;"
                                tabindex="-1" role="tabpanel" id="slick-slide08"
                                aria-describedby="slick-slide-control04">
                                <div class="contentbox ">
                                    <p> When I began my real estate firm, I hated invoicing so much that sometimes I put
                                        off sending invoices for months. BrainWave proved to be the best online
                                        invoicing platform that caters to professionalism and quickly sent out estimates
                                        and invoices on the spot. </p>
                                    <h5>"Harry Clark"</h5>
                                </div>
                            </li>
                            <li class="slick-slide" data-slick-index="9" aria-hidden="true" style="width: 500px;"
                                tabindex="-1" role="tabpanel" id="slick-slide09">
                                <div class="contentbox ">
                                    <p> In my contractor business, now I can easily focus on my business proceedings
                                        keeping control on staff activity and managing team's time better. You can
                                        easily streamline invoices while staying focused on your core business tasks.
                                    </p>
                                    <h5>"Emily Lewis"</h5>
                                </div>
                            </li>
                            <li class="slick-slide" data-slick-index="10" aria-hidden="true" style="width: 500px;"
                                tabindex="-1" role="tabpanel" id="slick-slide010"
                                aria-describedby="slick-slide-control05">
                                <div class="contentbox ">
                                    <p> BrainWave is quite easy to use. Also with this invoicing solution, I can easily
                                        upload the business image to invoicing and statements at no cost. The mobile app
                                        is great for small businesses, can't beat the price for the excellent service it
                                        provides me. Great software, great program. </p>
                                    <h5>"Mia Parker"</h5>
                                </div>
                            </li>
                            <li class="slick-slide slick-cloned" data-slick-index="11" aria-hidden="true"
                                style="width: 500px;" tabindex="-1">

                                <div class="vpop" data-type="youtube" data-id="M6HwqTcvEN8" data-autoplay="true">
                                    <picture>
                                        <source type="image/webp"
                                            srcset="common/new_images/testimonial_thumbnail1.webp">
                                        <source type="image/png" srcset="common/new_images/testimonial_thumbnail1.png">
                                        <img src="common/new_images/testimonial_thumbnail1.png"
                                            alt="client_feedback_thumb" width="100%" height="auto">
                                    </picture>
                                    <div class="youtube_play_icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24">
                                            <path
                                                d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z">
                                            </path>
                                        </svg>
                                    </div>
                                </div>
                            </li>
                            <li class="slick-slide slick-cloned" data-slick-index="12" aria-hidden="true"
                                style="width: 500px;" tabindex="-1">
                                <div class="vpop" data-type="youtube" data-id="QSGFiUEwvWE" data-autoplay="true">
                                    <picture>
                                        <source type="image/webp"
                                            srcset="common/new_images/testimonial_thumbnail2.webp">
                                        <source type="image/png" srcset="common/new_images/testimonial_thumbnail2.png">
                                        <img src="common/new_images/testimonial_thumbnail2.png"
                                            alt="client_feedback_thumb" width="100%" height="auto">
                                    </picture>
                                    <div class="youtube_play_icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24">
                                            <path
                                                d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z">
                                            </path>
                                        </svg>
                                    </div>
                                </div>
                            </li>
                            <li class="slick-slide slick-cloned" data-slick-index="13" aria-hidden="true"
                                style="width: 500px;" tabindex="-1">
                                <div class="contentbox ">
                                    <p> BrainWave helps our tours and travel company in a great way. This web-based
                                        billing software helped me in tracking billable hours effectively. I would
                                        highly recommend BrainWave to grow business with valuable features like
                                        multilingual- multicurrency support. I also appreciate the response of the
                                        BrainWave support team- well impressed. </p>
                                    <h5>"Colton Marak"</h5>
                                </div>
                            </li>
                            <li class="slick-slide slick-cloned" data-slick-index="14" aria-hidden="true"
                                style="width: 500px;" tabindex="-1">
                                <div class="contentbox ">
                                    <p> Finding BrainWave as an invoicing software was a great breakthrough for us, a
                                        must have software for SME's. The web billing software
                                        helps controls staff activity in simplified form, a useful for many travel
                                        agents. Also no need to worry about the currency and language suitable for the
                                        client. It supports the variety of global payment from clients across the globe.
                                    </p>
                                    <h5>"Jaxson White"</h5>
                                </div>
                            </li>
                            <li class="slick-slide slick-cloned" data-slick-index="15" aria-hidden="true"
                                style="width: 500px;" tabindex="-1">
                                <div class="contentbox ">
                                    <p> No language barrier, definite response time, access anytime anywhere. Choosing
                                        BrainWave has many benefits that match all my invoicing and billing needs.
                                        BrainWave helped me to fill the wide gap with highly simplified approach to
                                        customization as per the business requirements. Hence reducing the complexity
                                        for clients. </p>
                                    <h5>"Aayden Brooks"</h5>
                                </div>
                            </li>
                            <li class="slick-slide slick-cloned" data-slick-index="16" aria-hidden="true"
                                style="width: 500px;" tabindex="-1">
                                <div class="contentbox ">
                                    <p> For my contractor business, I needed a solution that replaces an outdated manual
                                        invoicing system. BrainWave made it simpler and easier to invoice. Now, I spend
                                        less time manually and more time to help clients with their queries. Incredibly
                                        intuitive invoicing software. </p>
                                    <h5>"Jacob Davis"</h5>
                                </div>
                            </li>
                            <li class="slick-slide slick-cloned" data-slick-index="17" aria-hidden="true"
                                style="width: 500px;" tabindex="-1">
                                <div class="contentbox ">
                                    <p> With easy to use invoicing solution, BrainWave helps me to track billable hours
                                        and generate detailed invoices for clients. I can easily create customized clean
                                        invoices which are a top priority for my business. </p>
                                    <h5>"Mason Brown"</h5>
                                </div>
                            </li>
                            <li class="slick-slide slick-cloned" data-slick-index="18" aria-hidden="true"
                                style="width: 500px;" tabindex="-1">
                                <div class="contentbox ">
                                    <p> As a small business owner, I wanted to bill clients, get paid quickly and check
                                        finances when I'm on the road. With BrainWave, everything is possible on the go.
                                        I would highly recommend BrainWave. The daunting billing process now becomes
                                        painless and lets you focus on doing great work. </p>
                                    <h5>" Daniel Jones "</h5>
                                </div>
                            </li>
                            <li class="slick-slide slick-cloned" data-slick-index="19" aria-hidden="true"
                                style="width: 500px;" tabindex="-1">
                                <div class="contentbox ">
                                    <p> When I began my real estate firm, I hated invoicing so much that sometimes I put
                                        off sending invoices for months. BrainWave proved to be the best online
                                        invoicing platform that caters to professionalism and quickly sent out estimates
                                        and invoices on the spot. </p>
                                    <h5>"Harry Clark"</h5>
                                </div>
                            </li>
                            <li class="slick-slide slick-cloned" data-slick-index="20" aria-hidden="true"
                                style="width: 500px;" tabindex="-1">
                                <div class="contentbox ">
                                    <p> In my contractor business, now I can easily focus on my business proceedings
                                        keeping control on staff activity and managing team's time better. You can
                                        easily streamline invoices while staying focused on your core business tasks.
                                    </p>
                                    <h5>"Emily Lewis"</h5>
                                </div>
                            </li>
                            <li class="slick-slide slick-cloned" data-slick-index="21" aria-hidden="true"
                                style="width: 500px;" tabindex="-1">
                                <div class="contentbox ">
                                    <p> BrainWave is quite easy to use. Also with this invoicing solution, I can easily
                                        upload the business image to invoicing and statements at no cost. The mobile app
                                        is great for small businesses, can't beat the price for the excellent service it
                                        provides me. Great software, great program. </p>
                                    <h5>"Mia Parker"</h5>
                                </div>
                            </li>
                        </div>
                    </div>










                    <button class="slick-next slick-arrow" aria-label="Next" type="button" style="">Next</button>
                    <ul class="slick-dots" style="" role="tablist">
                        <li class="slick-active" role="presentation"><button type="button" role="tab"
                                id="slick-slide-control00" aria-controls="slick-slide00" aria-label="1 of 6"
                                tabindex="0" aria-selected="true">1</button></li>
                        <li role="presentation"><button type="button" role="tab" id="slick-slide-control01"
                                aria-controls="slick-slide02" aria-label="2 of 6" tabindex="-1">2</button></li>
                        <li role="presentation"><button type="button" role="tab" id="slick-slide-control02"
                                aria-controls="slick-slide04" aria-label="3 of 6" tabindex="-1">3</button></li>
                        <li role="presentation"><button type="button" role="tab" id="slick-slide-control03"
                                aria-controls="slick-slide06" aria-label="4 of 6" tabindex="-1">4</button></li>
                        <li role="presentation"><button type="button" role="tab" id="slick-slide-control04"
                                aria-controls="slick-slide08" aria-label="5 of 6" tabindex="-1">5</button></li>
                        <li role="presentation"><button type="button" role="tab" id="slick-slide-control05"
                                aria-controls="slick-slide010" aria-label="6 of 6" tabindex="-1">6</button></li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</section>